@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./pattern-dark.svg);
}

.main {
  background: #ECC07C;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 25px;
  border-radius: 30px;
}

.badge {
  background: #E66357;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  left: 40%;
  top: -15px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px;
}

.clock {
  background: #EBEBEB;
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: Orbitron;
  font-size: 55px;
  padding-top: 25px;
  padding-left: 10%;
  border-radius: 15px;
}